ejecutables-/usr/sandra/temp/grupo01/bintp-Sandra-09/09/2017 10:03
maestros-/usr/sandra/temp/grupo01/maetp-Sandra-09/09/2017 10:03
aceptados-/usr/sandra/temp/grupo01/aceptp-Sandra-09/09/2017 10:03
rechazados-/usr/sandra/temp/grupo01/rechtp-Sandra-09/09/2017 10:03
validados-/usr/sandra/temp/grupo01/valtp-Sandra-09/09/2017 10:03
reportes-/usr/sandra/temp/grupo01/repotp-Sandra-09/09/2017 10:03
logs-/usr/sandra/temp/grupo01/logtp-Sandra-09/09/2017 10:03
